<h1 class="page-header">ivy-codemirror</h1>

<div class="row">
  <div class="col-sm-9">
    {{ivy-codemirror
      lineNumbers=lineNumbers
      lineWrapping=lineWrapping
      mode=mode
      keyMap=keyMap
      readOnly=readOnly
      smartIndent=smartIndent
      theme=theme
      value=value}}
  </div>

  <div class="col-sm-3">
    <div class="form-group">
      <label class="control-label" for="mode">Mode</label>
      {{view "select" class="form-control" content=modes id="mode" value=mode}}
    </div>

    <div class="form-group">
      <label class="control-label" for="key-map">Key map</label>
      {{view "select" class="form-control" content=keyMaps id="key-map" value=keyMap}}
    </div>

    <div class="form-group">
      <label class="control-label" for="theme">Theme</label>
      {{view "select" class="form-control" content=themes id="theme" value=theme}}
    </div>

    <div class="checkbox">
      <label>
        {{input checked=lineNumbers type="checkbox"}} Line numbers
      </label>
    </div>

    <div class="checkbox">
      <label>
        {{input checked=lineWrapping type="checkbox"}} Line wrapping
      </label>
    </div>

    <div class="checkbox">
      <label>
        {{input checked=readOnly type="checkbox"}} Read-only
      </label>
    </div>

    <div class="checkbox">
      <label>
        {{input checked=smartIndent type="checkbox"}} Smart indent
      </label>
    </div>
  </div>
</div>
